{% extends 'blog/layout.html' %}

{% block content %}
    <div class="card w-50 text-center mx-auto mt-5">
        <div class="card-header">
            <h4>Create New Post</h4>
        </div>
        <div class="card-body">
            <form method="POST" class="post-form form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info" value="create" name="create">Create</button>
                <button type="submit" class="btn btn-info" value="draft" name="draft">Draft</button><hr>
            </form>
        </div>
    </div>
{% endblock %}

