{% extends 'blog/layout.html' %}

{%  block content %}
    <div class="container">
        {% for post in posts %}
            <div class="card m-4">
                <div class="card-header">
                    <h4><a href="{% url 'post_details' pk=post.pk %}">{{ post.tittle }}</a></h4>
                </div>
                <div class="card-body">
                    <p>{{ post.text}}</p>
                </div>
                <div class="card-footer">
                    <address>Created : {{ post.created_date }}</address>
                    {% for comment in post.comment.values %}
                        <p>{{ comment.author }} :{{ comment.text }}</p>
                     {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

