{% extends 'blog/layout.html' %}

{% block content %}
    <div class="container mx-auto mt-4">
        <h4>{{ post.tittle }}</h4>
        <p>{{ post.text }}</p>
        <p>Author : {{ post.author }}</p>
        <p> {{ post.created_date }}</p>
        <hr><h6>Leave Your Comments Here:</h6>
        <form method="POST" action="{% url 'post_details' post.id %}" class="comment-form form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-info">Save</button><hr>
        </form>
        <h6>Comments:</h6>
        {% if post.comment.values|length > 0 %}
            {% for comment in post.comment.values %}
                    <p>{{ comment.author }} : {{ comment.text }}</p>
            {% endfor %}
        {% else %}
                <p>No Comments Posted Yet!!</p>
        {% endif %}
    </div>
{% endblock %}